table, th, td {
    border: 2px solid gray;
    border-collapse: collapse;
}
th{
    background-color: aqua;
}
td{
    background-color: chartreuse
}
th{
    background-image: url(889.jpg);
}
table {
    color: black;
  }
td{
    background-image: url(00000.avif);
}
